<%= simple_form_for(@collection) do |f| %>
  <%= f.error_notification %>

  
  <div class="form-group">
    <%= f.input :collection_name, input_html: {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :collection_category, input_html: {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.association :shop_name, input_html: {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.association :shop_product, input_html: {class: 'form-control'} %>
  </div>
  

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
