<p id="notice"><%= notice %></p>

<%= image_tag (@profile.picture_url(:standard)) %>

<p>
<%= @profile.first_name %> <%= @profile.last_name %>
</p>



<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @profile.dob %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @profile.tagline %>
</p>

<p>
  <strong>Info:</strong>
  <%= @profile.info %>
</p>

<% unless @profile.website.empty? %>
<p>
  <strong>Website:</strong>
  <%= link_to "9gag.com", @profile.website, target: '_blank' %>
</p>
<% end %>

<% unless @profile.twitter.empty? %>
<p>
  <strong>Twitter:</strong>
  <%= @profile.twitter %>
</p>
<% end %>

<p>
  <strong>Facebook:</strong>
  <%= @profile.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @profile.linkedin %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.user.email %>
</p>

<% if user_signed_in? %>
<% if current_user == @profile.user %>
<%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-warning'%>
<% end %>
<% end %>

