<br>
<div class="row">
	<div class='col-md-8 col-md-offset-2'>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title"><span class="glyphicon glyphicon-user"></span> Your Profile
				<hr>
			</div>

<div class='row'>
<p id="notice"><%= notice %></p>

    
    
    <div class="container">
      <div class="row">
        
        <div class="col-md-6">
			<h2><%= @profile.first_name %> <%= @profile.last_name %></h2>
		</div>
<br>
		<div class="col-md-6">         
			<strong>Interest:</strong>
  				<%= @profile.interest %>
			</div>

		<div class="col-md-6">
  			<strong>Gender:</strong>
  				<%= @profile.gender %>
		</div>

		<div class="col-md-6">
			<strong>Friends:</strong>
  				<%= @profile.friends %>
		</div>

			<div class="col-md-6">
          
  <strong>Dob:</strong>
  <%= @profile.dob %>
</div>



<% if user_signed_in? %>
<% if current_user == @profile.user %>
<%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-warning'%>
<%= link_to 'Home', root_path, class: 'btn btn-success' %>
<% end %>
<% end %>

