<p id="notice"><%= notice %></p>

<p>
  <strong>Friends:</strong>
  <%= @share_with_friend.friends %>
</p>

<p>
  <strong>Collection name:</strong>
  <%= @share_with_friend.collection_name %>
</p>

<p>
  <strong>Shop name:</strong>
  <%= @share_with_friend.shop_name %>
</p>

<p>
  <strong>Shop product:</strong>
  <%= @share_with_friend.shop_product %>
</p>

<%= link_to 'Edit', edit_share_with_friend_path(@share_with_friend) %> |
<%= link_to 'Back', share_with_friends_path %>
